.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.row-header a {
  color: green;
  font-weight: 600;
}

.row-header a:hover::after {
  content: "->";
}

.container {
  padding: 20px 30px;
}

.poster-md {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

/* .poster-md:hover::after {
} */

.movies {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
